<!DOCTYPE html>
<html lang="es"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <title>Contrataciones Abiertas</title>
    <meta name="description" content="En datos.gob.mx puedes descargar y utilizar libremente datos abiertos que el Gobierno de la República genera y recolecta.">

    <!-- gráfica base -->
    <link rel='stylesheet' href='<%= process.env.CDN_URL %>/assets/css/main.css' />
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/redcompartida/static/stylesheets/style.css">

    <style>
        body {transition: opacity ease-in 0.2s; }
        body[unresolved] {opacity: 0; display: block; overflow: hidden; position: relative; }
    </style>

    <link rel="shortcut icon" href="https://datos.gob.mx/assets/img/favicon.ico">
    <link rel="import" href="<%= process.env.CDN_URL %>/bower_components/polymer/polymer.html">
    <link rel="import" href="<%= process.env.CDN_URL %>/bower_components/dgm-navbar/dgm-navbar.html">
    <link rel="import" href="<%= process.env.CDN_URL %>/bower_components/dgm-footer/dgm-footer.html">

    <!-- Google Analytics -->
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44411606-12', 'auto', {});

      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');

      ga('create', 'UA-69802193-1', 'auto', {'name': 'GoAn2', 'allowLinker':true});
      ga('GoAn2.send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <link rel="canonical" href="https://datos.gob.mx/redcompartida/">
    <link rel="alternate" type="application/rss+xml" title="Guía de Datos Abiertos para México" href="https://datos.gob.mx/feed.xml">

</head>

<body>

<!-- <div id="system-notification" class="container-fluid">
    <div class="row">
        <div class="notification-container">
            <div class="notification">
                <p></p>
                <span class="glyphicon glyphicon-remove"></span>
            </div>
        </div>
    </div>
</div> -->


<dgm-navbar></dgm-navbar>

<div class="bgimg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Contrataciones Abiertas</p>
                <h2>Red Compartida <span>Secretaría de Comunicaciones y Transportes</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 widget">
                <h5>FINANCIAMIENTO PRIVADO</h5>
                <p class="stat"> 100% </p>
            </div>

            <div class="col-sm-4 widget">
                <h5>COBERTURA MÍNIMA POBLACIONAL</h5>
                <p class="stat"> 92.2%</p>
            </div>

            <div class="col-sm-4 widget">
                <!-- <h5>PERIODO DE LA PRIMERA ETAPA</h5> -->
                <h5>BENEFICIADOS</h5>
                <p class="stat"> +100 millones</p>
            </div>

        </div>
    </div>
</div>

<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="https://datos.gob.mx"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="/contratacionesabiertas">Contrataciones Abiertas</a></li>
                    <li><a href="/contratacionesabiertas/redcompartida">Red Compartida</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="main" class ="container statistics">
    <h1>Proyecto</h1>
    <p>Visualiza y descarga los Datos Abiertos de las etapas de planeación, licitación, adjudicación, contratación,
        e implementación de la Red Compartida de acuerdo con el Estándar de Datos para Contrataciones Abiertas (EDCA).</p>
</div>

<!-- Detalle del contrato-->

<div id="principal" class="container">
    <div class="row">
        <div id="contract-sidebar" class="col-md-4 col-sm-4 col-xs-12 sidebar">
            <div class="info">
                <h3>Proceso de contratación</h3>

                <p class="title" id="contract_title"> Cargando... </p>

            </div>
            <div class="stages" id="stg">
                <p><small>ETAPAS</small></p>
                <ul>
                    <!-- Planeación -->
                    <li class='active etapa' data-stage="planning">
                        <img class="normal-image" src="/contratacionesabiertas/static/images/ic-menu-planeacion.png">
                        <img class="hover-image" src="/contratacionesabiertas/static/images/ic-planeacion.png">
                        <a class="etapa">Planeación </a>
                    </li>
                    <!-- Licitación -->
                    <li class="etapa" data-stage="tender">
                        <img class="normal-image" src="/contratacionesabiertas/static/images/ic-menu-licitacion.png">
                        <img class="hover-image" src="/contratacionesabiertas/static/images/ic-licitacion.png">
                        <a class="etapa">Concurso</a>
                    </li>
                    <!-- Adjudicación -->
                    <li class="etapa" data-stage="awards">
                        <img class="normal-image" src="/contratacionesabiertas/static/images/ic-menu-adjudicacion.png">
                        <img class="hover-image" src="/contratacionesabiertas/static/images/ic-adjudicacion.png">
                        <a class="etapa">Adjudicación</a>
                    </li>
                    <!-- Contrato -->
                    <li class="etapa" data-stage="contracts">
                        <img class="normal-image" src="/contratacionesabiertas/static/images/ic-menu-contratacion.png">
                        <img class="hover-image" src="/contratacionesabiertas/static/images/ic-contratacion.png">
                        <a class="etapa">Contratación</a>
                    </li>
                    <!-- Implementación -->
                    <li class="etapa" data-stage="implementation">
                        <img class="normal-image" src="/contratacionesabiertas/static/images/ic-menu-implementacion.png">
                        <img class="hover-image" src="/contratacionesabiertas/static/images/ic-implementacion.png">
                        <a class="etapa">Implementación</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="contract-content" class="col-md-8 col-sm-8 col-xs-12">
            <div id = "target"></div>
           <% //include planning %>

        </div>
    </div>
</div>

<!-- Fin del detalle del contrato -->

<div class="container statistics">
    <h1>Datos</h1>

    <div class="data-table">
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <!--<th width="50%">Institución</th>-->
                <th width="30%">Institución</th>
                <th width="30%">Formato</th>
            </tr>
            </thead>
            <tbody>
            <tr id="api">

                <td>Proceso de contratación del proyecto de la Red Compartida</td>
                <td>PROMTEL</td>
                <td>
                    <span class="label" data-format="json">JSON</span>
                    <span class="label" data-format="xlsx">XLSX</span>
                    <span class="label" data-format="pdf">PDF</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


<div id="d3Tooltip" style="opacity: 0;" class="ttip"></div>

<dgm-footer></dgm-footer>

<script type="text/javascript" src="/redcompartida/static/assets/d3.js"></script>
<script type="text/javascript" src="/redcompartida/static/datos/datos.js"></script>

<script type="text/javascript" src="<%= process.env.CDN_URL %>/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<script src="/redcompartida/static/bower_components/jquery/dist/jquery.min.js"></script>

<!--<script src="/redcompartida/static/assets/js.js"></script>-->
<script src="/redcompartida/static/assets/underscore-min.js" type="text/javascript"></script>
<script src="/redcompartida/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/redcompartida/static/assets/moment.js"></script>
<script src="/redcompartida/static/bower_components/handlebars/handlebars.min.js"></script>
<script src="/redcompartida/static/bower_components/axios/dist/axios.min.js"></script>

<script type="text/javascript">
    function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".more-less")
            .toggleClass('glyphicon-chevron-right glyphicon-chevron-down');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    $('#api').click(function () {
        window.open("https://datos.gob.mx/busca/dataset/infraestructura-de-telecomunicaciones", "_blank");
    });
/*
    $('#ocds').click(function () {
        window.open('http://standard.open-contracting.org/latest/es/getting_started/');
    });*/


    $("ul li").on("click", function() {
        $("ul li").removeClass("active");
        $(this).addClass("active");
    });
</script>

<script>
    Handlebars.registerHelper('format_amount', function (amount){
        return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    })

    Handlebars.registerHelper('format_date', function(date){
        return date;
    });


    function getOCDS(){
        return axios.get('https://raw.githubusercontent.com/mxabierto/edca-dashboard/master/data/red_compartida/edca_red_compartida.json')
    }

    function getLinks(){
        return axios.get('https://raw.githubusercontent.com/mxabierto/edca-dashboard/master/data/red_compartida/links.json')
    }

    axios.all([ getOCDS(), getLinks()]).then(axios.spread(function( ocds, links ){

        var title = ocds.data.releases[0].contracts[0].title;
        title = (title.length < 251)?title:title.substring(0,249).trim() + '...';

        $("#contract_title").text(title);

        $.get('/redcompartida/static/templates/planning.handlebars', function(html) {
            var template = Handlebars.compile(html);
            document.getElementById('target').innerHTML = template({title: title, ocds: ocds.data.releases[0], links: links.data });
        });


        //sidebar onclick events
        $(".etapa").on('click', function (e) {
            //var selected_li = $(e.target);
            var stage =  $(this).attr("data-stage");
            //alert("Cargando etapa: "+ stage );

            switch (stage){
                case "planning":
                    $.get('/redcompartida/static/templates/planning.handlebars', function(html) {
                        var template = Handlebars.compile(html);
                        document.getElementById('target').innerHTML = template({ocds: ocds.data.releases[0], links: links.data });
                        //$("#stg").height( $("#contract-content").height());
                    });
                    break;
                case "tender":
                    $.get('/redcompartida/static/templates/tender.handlebars', function(html) {
                        var template = Handlebars.compile(html);
                        document.getElementById('target').innerHTML = template({ocds: ocds.data.releases[0], links: links.data });
                        //$("#stg").height( $("#contract-content").height());
                    });
                    break;
                case "awards":
                    $.get('/redcompartida/static/templates/awards.handlebars', function(html) {
                        var template = Handlebars.compile(html);
                        document.getElementById('target').innerHTML = template({ocds: ocds.data.releases[0], links: links.data, award: ocds.data.releases[0].awards[0] });
                        //$("#stg").height( $("#contract-content").height());
                    });
                    break;
                case "contracts":
                    $.get('/redcompartida/static/templates/contracts.handlebars', function(html) {
                        var template = Handlebars.compile(html);
                        document.getElementById('target').innerHTML = template({ocds: ocds.data.releases[0], links: links.data, contract: ocds.data.releases[0].contracts[0] });
                        //$("#stg").height( $("#contract-content").height());
                    });
                    break;
                case "implementation":
                    $.get('/redcompartida/static/templates/implementation.handlebars', function(html) {
                        var template = Handlebars.compile(html);
                        document.getElementById('target').innerHTML = template({ocds: ocds.data.releases[0], links: links.data, implementation: ocds.data.releases[0].contracts[0].implementation });
                        //$("#stg").height( $("#contract-content").height());
                    });
                    break;
            }
        });

    })).catch(function(error){ console.log(error);})

</script>
</body>
</html>
