<div class="row contract-stats">
    <div class="col-md-3">
        <p class="small">Etapa</p>
        <p><strong>Adjudicación</strong></p>
    </div>
    <div class="col-md-3">
        <p class="small">Identificador</p>
        <p class="semi-bold"> {{award.id }}</p>
    </div>
    <div class="col-md-6">
        <p class="small">Fecha de adjudicación</p>
        <p class="semi-bold">
            {{ award.date }}
        </p>
    </div>
</div>

<div class="row contract-stats">
    <div class="col-md-3">
        <p class="small">Tipo</p>
        {{#if ocds.tender.procurementmethod}}
            <p class="semi-bold">{{ocds.tender.procurementmethod }}</p>
        {{else}}
            En proceso
        {{/if}}
    </div>

    <div class="col-md-3">
        <p class="small">Monto</p>
        <p><strong>
            {{#if award.value.amount}}
                {{format_amount award.value.amount }}
            {{else}}
                En proceso
            {{/if}}
        </strong></p>
        <p class="small">Moneda </p>
        <p class="semi-bold">{{ award.value.currency }}</p>
    </div>
    <div class="col-md-6">
        <p class="small">Título</p>
        <p class="semi-bold">{{ award.title }} </p>
    </div>

</div>
<div class="row contract-stats">
    <div class="col-md-12">
        <p class="small">Descripción</p>
        <p class="semi-bold">{{ award.description }}</p>
    </div>
</div>

<div class="row contract-stats">
    <div class="col-md-12">
        <p class="small">Comprador</p>
        <p class="semi-bold">{{ ocds.buyer.name }}</p>
    </div>
</div>

<div class="row contract-stats no-border">
    <div class="col-md-5 col-md-offset-4">

        <p class="small">Descargar datos abiertos</p>
        <a href="{{ links.json.url }}" download="json"><span class="label" data-format="json">JSON</span></a>
        <a href="{{ links.xlsx.url }}" download="xlsx">  <span class="label" data-format="xlsx">XLSX</span></a>
    </div>
    <div class="col-md-3">
        <p class="small">Descargar contrato</p>
        <a href="{{links.pdf.url}}" download="pdf">
            <span class="label" data-format="pdf">PDF</span>
        </a>

    </div>
</div>
<p class="small">Procesos</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Proveedores
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

                {{#if award.suppliers}}
                    {{#award.suppliers}}
                        <strong>{{name }}</strong>
                        <ul>
                            <li>RFC: {{ id }}</li>
                        </ul>
                    {{/award.suppliers}}
                {{else}}
                    <p>
                        <strong>En proceso</strong>
                    </p>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Artículos
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                {{#if award.items}}
                    {{#award.items}}
                        <strong> {{description}}  </strong>
                        <ul>
                            <li>id: {{id}} </li>
                            <li>Unidad: {{unit.name}} </li>
                            <li>Cantidad: {{quantity}} </li>
                        </ul>

                    {{/award.items}}
                {{else}}
                    <p>
                        <strong>En proceso</strong>
                    </p>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Documentos
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                {{#if award.documents}}
                    {{#award.documents}}
                        <strong>{{ title }}</strong>
                        <ul>
                            <li> Descripción: {{ description }}</li>
                            <li> URL: {{ url }}</li>
                        </ul>
                    {{/award.documents}}
                {{else}}
                    <p>
                        <strong>En proceso</strong>
                    </p>
                {{/if}}
            </div>
        </div>
    </div>

    <!--
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <i class="more-less glyphicon glyphicon-chevron-right"></i>
                    Cambios
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <% if (changes.length == 0 ){%>
                No se han registrado cambios en esta etapa
                <%}%>
                <% for ( var i =0; i< changes.length;i++){%>
                Cambio <%=i%>
                <ul>
                    <li>Propiedad: <%= changes[i].property%></li>
                    <li>Valor anterior: <%= changes[i].former_value%></li>
                </ul>
                <%}%>
            </div>
        </div>
    </div>
    -->
</div>
