<div class="row contract-stats">
    <div class="col-md-3">
        <p class="small">Etapa</p>
        <p class="semi-bold">Contratación</p>
    </div>
    <div class="col-md-3">
        <p class="small">Identificador</p>
        <p class="semi-bold"> {{ contract.id }}</p>
    </div>
    <div class="col-md-6">
        <p class="small">Fecha de firma</p>
        <p class="semi-bold">
            {{ contract.dateSigned }}
        </p>
    </div>
</div>
<div class="row contract-stats">
    <div class="col-md-3">
        <p class="small">Estado</p>
        {{#ifCond contract.status 'active'}}
            <p class="semi-bold">Activo</p>
        {{else}}
            <p class="semi-bold"> {{ contract.status}} </p>
        {{/ifCond}}
    </div>
    <div class="col-md-3">
        <p class="small">Monto</p>
        <p class="semi-bold">
            {{#if contract.value.amount}}
                {{format_amount contract.value.amount }}
            {{else}}
                No aplica
            {{/if}}
        </p>
        <p class="small">Moneda </p>
        <p class="semi-bold"> {{ contract.value.currency }}</p>
    </div>
    <div class="col-md-6">
        <p class="small">Título</p>
        <p class="semi-bold"> {{ contract.title }} </p>
    </div>
</div>
<div class="row contract-stats">
    <div class="col-md-12">
        <p class="small">Descripción</p>
        <p class="semi-bold"> {{ contract.description }}</p>
    </div>
</div>
<div class="row contract-stats">
    <div class="col-md-12">
        <p class="small">Comprador</p>
        <p class="semi-bold">{{ buyer.name }}</p>
    </div>
</div>
<div class="row contract-stats no-border">
    <div class="col-md-5 col-md-offset-4">
        <p class="small">Descargar datos abiertos</p>
        <a href="{{ links.json.url }}" download="json" title="Archivo JSON del proceso de contratación bajo el EDCA-APP"><span class="label" data-format="json">JSON</span></a>
        <a href="{{ links.xlsx.url }}" download="xlsx" title="Archivo XLSX del proceso de contratación bajo el EDCA"><span class="label" data-format="xlsx">XLSX</span></a>
        <a href="{{ links.xlsxAPP.url }}" download="xlsx" title="Archivo XLSX del proceso de contratación bajo el EDCA-APP"><span class="label" data-format="xlsx">XLSX</span></a>

    </div>
    <div class="col-md-3">
        <p class="small">Descargar contrato</p>
        <a href="{{ links.pdf.url }}" download="pdf">
            <span class="label" data-format="pdf">PDF</span>
        </a>
    </div>
</div>
<p class="small">Procesos</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Artículos
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                {{#contract.items}}
                    <strong> {{description}}  </strong>
                    <ul>
                        <li>Id: {{id}} </li>
                        <li>Unidad: {{unit.name}} </li>
                        <li>Cantidad: {{quantity}} </li>
                    </ul>

                {{/contract.items}}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Documentos
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                {{#contract.documents}}
                    <strong>{{ title }}</strong>
                    <ul>
                        <li> Descripción: {{ description }}</li>
                        <li> URL: <a href="{{ url }}" target="_blank">{{ url }}</a></li>
                    </ul>
                {{/contract.documents}}
            </div>
        </div>
    </div>
    <!--
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="more-less glyphicon glyphicon-chevron-right"></i>
                    Cambios
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <% if (changes.length == 0 ){%>
                No se han registrado cambios en esta etapa
                <%}%>
                <% for ( var i =0; i< changes.length;i++){%>
                Cambio <%=i%>
                <ul>
                    <li>Propiedad: <%= changes[i].property%></li>
                    <li>Valor anterior: <%= changes[i].former_value%></li>
                </ul>
                <%}%>
            </div>
        </div>
    </div>
    -->
</div>
