<div class="row contract-stats">
    <div class="col-md-2">
        <p class="small">Etapa</p>
        <p class="semi-bold">Planeación</p>
    </div>
    <div class="col-md-2">
        <p class="small">Identificador de presupuesto</p>
        <p class="semi-bold"> {{ ocds.planning.budget.id }} </p>
    </div>
    <div class="col-md-2">
        <p class="small">Estado</p>
        {{#ifCond ocds.tender.status 'complete'}}
            <p class="semi-bold">Concluido</p>
        {{else}}
            <p class="semi-bold"> {{ ocds.tender.status}} </p>
        {{/ifCond}}
    </div>
    <div class="col-md-6">
        <p class="small">Descripción</p>
        <p class="semi-bold"> {{ ocds.planning.budget.description}} </p>
    </div>
</div>
<div class="row contract-stats">
    <div class="col-md-6">
        <p class="small">Monto</p>
        {{#if ocds.planning.budget.value.amount}}
            <p>{{format_amount ocds.planning.budget.value.amount}}</p>
        {{else}}
            <p class="semi-bold">No aplica, por tratarse de una Asociación Público-Privada (APP) autofinanciada, la cual es definida como un proyecto cuyos recursos para su desarrollo y ejecución provienen en su totalidad de aportaciones distintas a numerario (Artículo 3, inciso c del Reglamento de la Ley Federal de APP) este proyecto no cuenta con una fuente de recursos presupuestaria.</p>
        {{/if}}
    </div>
    <div class="col-md-2">
        <p class="small">Moneda </p>
        <p class="semi-bold"> {{ ocds.planning.budget.value.currency }}</p>
    </div>
    <div class="col-md-2">
        <p class="small">Proyecto</p>
        <p class="semi-bold"> {{ ocds.planning.budget.project }}</p>
    </div>
    <div class="col-md-2">
        <p class="small">ID de proyecto</p>
        <p class="semi-bold"> {{ ocds.planning.budget.projectID}} </p>
    </div>
</div>
<div class="row contract-stats">
    <div class="col-md-12">
        <p class="small">Comprador</p>
        <p class="semi-bold">{{ ocds.buyer.name }} </p>
    </div>
</div>
<div class="row contract-stats no-border">
    <div class="col-md-5 col-md-offset-4">

        <p class="small">Descargar datos abiertos</p>
        <a href="{{ links.json.url }}" download="json"><span class="label" data-format="json">JSON</span></a>
        <a href="{{ links.xlsx.url }}" download="xlsx">  <span class="label" data-format="xlsx">XLSX</span></a>

    </div>
    <div class="col-md-3">
        <p class="small">Descargar contrato</p>
        <a href="{{ links.pdf.url }}" download="pdf">
            <span class="label" data-format="pdf">PDF</span>
        </a>
    </div>
</div>
<p class="small">Procesos</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Documentos
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

                {{#if ocds.planning.documents}}
                    {{#ocds.planning.documents}}
                        <strong>{{ title }}</strong>
                        <ul>
                            <li> Descripción: {{ description }}</li>
                            <li> URL: <a href="{{ url }}" target="_blank">{{ url }}</a></li>
                        </ul>
                    {{/ocds.planning.documents}}
                {{else}}
                    <p>
                        <strong>En proceso</strong>
                    </p>
                {{/if}}

            </div>
        </div>
    </div>
</div>
